.posts-filter {
	position: fixed;
	right: 0;
	width: 20vw;
	.form-filter {
	    padding: 20px;
    	border: 1px solid $primary-color;
    	border-right: none;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: flex-end;
	    div {
	    	display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		    align-items: flex-end;
		    width: 100%;
	    	margin: 10px 0;
		    label {
		    	color: $post-text-color;
		    }
		    input {
		    	width: 100%;
		    	border-radius: 0;
		    	border: $field-border;
			    padding: 10px;
			    -webkit-appearance: none;
			    background-color: $field-bgcolor;
		    }
		    .select-wrapper {
		    	position: relative;
		    	select {
			    	width: 100%;
			    	border-radius: 0;
			    	border: $field-border;
				    padding: 10px;
				    -webkit-appearance: none;
				    background-color: $field-bgcolor;
			    }
			    i {
			    	position: absolute;
				    bottom: 50%;
				    transform: translate( 0%, 25% );
				    right: 15px;
			    }
		    }
		    input[type=submit] {
			    background-color: $button-bgcolor;
			    border: none;
			    color: $button-color;
		    }
	    }
	    .error-wrapper {
	    	position: absolute;
		    bottom: -50px;
		    right: 0;
		    width: 100%;
		    color: #fff;
		    background-color: #d03030;
		    padding: 8px;
	    }
	}
}
