@media ( max-width: $mobile-large ) {
    * {
        header {
            .navbar {
                .navbar-collapse {
                    position: absolute;
                    right: 15px;
                    bottom: -117px;
                    padding: 20px;
                    background-color: $dropdown-bgcolor;
                    .navbar-nav {
                        padding-right: 30px;
                        .nav-item {
                            text-align: right;
                            a {
                                color: $dropdown-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
